

@import url('https://fonts.googleapis.com/css?family=Roboto|Poppins:100,200,300,400,500,600');


/* ----------------------------------------------------------------------------------------
                              01. General css
 -------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                              02. Navigation area css
 --------------------------------------------------------------------------------------- */

.navbar-brand img {
    height: 50px;
    width: auto;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding-left: 20px;
}

#navbar-items li {
   margin: 10px 10px;
}

#navbar-items {
   margin-right: 20px;
}




/* ----------------------------------------------------------------------------------------
                               03. header area css
 -------------------------------------------------------------------------------------- */
/* gradient color below from: https://uigradients.com/#SublimeLight */
#header {
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 70px;
    padding-bottom: 30px;
}

.header-first {
  max-height: 500px;
}

.header-first h1, .header-first p {
  color: #fff;
}

.header-second {
  display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.header-second img {
  max-height: 500px;
}

.btn-header {
    background-color: #b471ba;
}

/* ----------------------------------------------------------------------------------------
                                04. Feature area css
 --------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                                05. Video area css
 --------------------------------------------------------------------------------------- */




/* ----------------------------------------------------------------------------------------
                                 06. Price area css
 --------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                                07. Action area css
 --------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                                08. Testimonial area css
* --------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                                 09. Contact area css
 --------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                                 10. Footer area css
 --------------------------------------------------------------------------------------- */


footer {
    background-color: #151b25;
    color: #fafafa;
    padding: 30px 40px 10px 40px;
    height: 300px;
}


.footer-copyright {
    background-color: rgba(0, 0, 0, 0.3);
}

.footer-sections h5 {
    font-size: 15px;
}

.footer-sections p {
    font-size: 12px;
}

.footer-copyright {
    font-size: 12px;
    padding: 20px 0px 20px 0px;
    margin: 0;
}