

@import url('https://fonts.googleapis.com/css?family=Roboto|Poppins:100,200,300,400,500,600');


/* ----------------------------------------------------------------------------------------
                              01. General css
 -------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                              02. Navigation area css
 --------------------------------------------------------------------------------------- */

.navbar-brand img {
    height: 50px;
    width: auto;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding-left: 20px;
}

#navbar-items li {
   margin: 10px 10px;
}

#navbar-items {
   margin-right: 20px;
}




/* ----------------------------------------------------------------------------------------
                               03. header area css
 -------------------------------------------------------------------------------------- */




/* ----------------------------------------------------------------------------------------
                                04. Feature area css
 --------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                                05. Video area css
 --------------------------------------------------------------------------------------- */




/* ----------------------------------------------------------------------------------------
                                 06. Price area css
 --------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                                07. Action area css
 --------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                                08. Testimonial area css
* --------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------
                                 09. Contact area css
 --------------------------------------------------------------------------------------- */
